<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <!-- Appenders -->
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p: %c - %m%n" />
    </Console>
  </Appenders>

  <!-- Application Loggers -->
  <Loggers>
    <Logger name="org.fp024" level="debug" />

    <!-- 3rdparty Loggers -->
    <Logger name="org.springframework.core" level="debug" />
    <Logger name="org.springframework.beans" level="debug" />
    <Logger name="org.springframework.context" level="debug" />
    <Logger name="org.springframework.web" level="debug" />
    <Logger name="org.springframework.security" level="debug" />

    <!-- Root Logger -->
    <Root level="debug">
      <Appender-Ref ref="STDOUT" />
    </Root>
  </Loggers>
</Configuration>
